
header,
main,
footer {
	padding-left: 300px;
}
html,
body,
main {
    height: 100%;
}
.btn {
	text-transform: none;
}

/*Tree SVG*/
.container,
#compTreeSVG,
#FMTreeSVG {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

/*top navigation bar*/
#top-nav{
	height: 42px;
	line-height: 42px;
}
#top-nav li {
	line-height: 90%;
	margin: 4px 5px;
}
#top-nav .btn, nav button{
	padding-left: 1rem;
	padding-right: 1rem;
	height: 34px;
	line-height: 34px;
}
#navbar i{
	height: inherit;
	line-height: inherit;
	font-size: 1.5rem;
}
#top-nav .file-path-wrapper {
	padding-left: 0.5rem;
	margin-right: 1rem;
}
#top-nav .file-path {
	padding-left: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0;
	font-size: 1rem;
	border-style: none none solid;
	border-bottom-width: 1px;
}
#tree-tab, #tree-tab .tab {
	height: 2rem;
	line-height: 2rem;
}
#tree-tab .indicator {
	height: 3px;
	background-color: lightgreen;
}

/*side Editor*/
#slide-out {
    padding-left: 5px;
	padding-right: 5px;
}
.side-nav li{
	line-height: 3;
}
ul.collection.with-header li {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
ul.collection.with-header li.collection-header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
ul.collection.with-header li.collection-item {
	padding-left: 2rem;
}
ul.collection.with-header li.collection-item.add{
	margin: 0;
	width: 100%;
}
ul.collection.with-header li.collection-item.add button {
	margin: 0;
	width: 100%;
}
#comp-edit, #func-edit, #param-edit {
	color: black;
	line-height: 1.5rem;
}
#comp-edit h6 {
	color: lightseagreen;
}
#comp-edit input, 
#func-edit input,
#param-edit input {
	margin-bottom: 0.2rem;
	height: 1.2rem;
}
#comp-children .collection-item, 
#comp-func .collection-item,
#comp-param .collection-item,
#func-parents .collection-item,
#param-parents .collection-item{
	margin-top: 0;
	display: table;
}
#add-func-parent li{
	padding: 0.5rem;
}
.side-prnt-name,
.side-prnt-isb {
	line-height: 1.3;
}
.side-prnt-isb {
	color: gray;
	text-align: right;
}

.suffix {
	display: table-cell;
	width:1%;
	cursor: pointer;
	vertical-align: bottom;
	font-size: 1rem;
	color: gray;
}
.glass {
	background: rgba(255,255,255,0.９);
}

/**/
@media only screen and (max-width: 992px) {
	header,
	main,
	footer {
		padding-left: 0;
	}
}